/* Styles for App component */

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.Map-container {
  display: grid;
  grid-template-columns: 25% 75%;
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  left: 0;
  bottom: 0;
}

/* Styles for NavigationPanel component */

.Nav-panel {
  position: fixed;
  z-index: 1;
  height: 8%;
  right: 0;
  left: 0;
  text-align: center;
  background: #252831;
  color: white;
}

.h1 {
  font-size: 25px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Nav-button {
  position: absolute;
  font-size: 55%;
  top: 30%;
  left: 4%;
  cursor: pointer;
  background-color: white;
  border: none;
}

/* Styles for Map component */


/* Styles for SearchPanel component */

.Search-panel {
  display: flex;
  flex-direction: column;
  padding-top: 40%;
  width: 100%;
}

.Search-button {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-decoration: none;
  background: white;
  border: 2px solid #252831;
  cursor: pointer;
  width: 100%;
}
.Search-button:hover {
  background: #252831;
  color: white;
}

.Search-input {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  border: 2px solid #252831;
  width: 100%;
}

/* Responsive design*/

@media screen and (min-width: 1000px) {

}
